body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header {
    float: left;
    width: 100%;
    background: #333;
    position: fixed;
}

h1 {
    float: left;
    padding-left: 30px;
    padding-top: 25px;
    font-size: 200%;
    margin: 0;
}

section {
    padding-left: 30px;
    padding-top: 50px;
    overflow: auto;
}

h2 {
    text-align: left;
    margin: 0;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 200%;
}

article {
    float: left;
    width: 45%;
    padding-top: 50px;
    font-size: 80%;
}

div {
    float: left;
    width: 650px;
    margin: 0;
}

img {
    display: block;

}

footer {
    width: 500px;
    text-align:center;
    margin: 0 auto;
    padding: -10px;
}

/* section bg colors */

#cougar {
    background: #B26219;
}

#lion {
    background: #82E8FF;
    color: #000;
}

#tiger {
    background: #379CB2;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/

.clearfix {
    clear: both;
}

/* --- links and nav --- */

a { color: #FFBD82; }
a:hover { color: #FFD5AE; }


nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    float:left;
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 130%;
}
